* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/interface_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 45%;
  height: 100%;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.title {
  font-size: 20px;
  margin-top: 10px;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-score {
  padding-left: 5px;
  font-size: 18px;
}

.indicator {
  color: #6e44ff;
  min-width: 64px;
  min-height: 64px;
  border: 4px solid #6e44ff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.indicator p {
  font-size: 24px;
}

.created-score {
  margin-top: 15px;
}

#creation-date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.column-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  height: 85%;
  padding-left: 20px;
  margin: auto 0;
}

#password-change-button {
  margin-top: 25px;
}

.primary-button {
  height: 45px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f5c953;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  padding: 10px;
  margin-top: 15px;
  outline: none;
  cursor: pointer;
  text-align: center;
}

#logout-button {
  height: 45px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: red;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  padding: 10px;
  margin-top: 15px;
  color: white;
  outline: none;
  cursor: pointer;
}

.separator {
  height: 85%;
  width: 4px;
  background-color: #f5c953;
  margin: auto 0;
  border-radius: 10px;
}

.column-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  height: 85%;
  margin: auto 0;
  padding-left: 20px;
}

#user {
  margin-top: 10px;
}

.pairs {
  margin-top: 25px;
}

.pairs p {
  font-size: 20px;
  margin-top: 5px;
}

.key-pair {
  color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=account.css.map */