* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

body {
  background: #e5e5e5;
  background-image: url("../assets/interface_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 92vh;
  width: 100%;
}

.topDiv {
  width: 50%;
  height: 50px;
  margin: 50px auto;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.search-input {
  width: 70%;
  height: 100%;
  border: 2.5px solid #6e44ff;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  outline: none;
}

.search-button {
  width: 25%;
  height: 100%;
  background-color: #f5c953;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  outline: none;
  cursor: pointer;
}

.contract-container {
  margin-top: 10em;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px;
}

.contract {
  position: relative;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  width: 325px;
  height: 400px;
  margin: 30px 5px;
  background-color: white;
  border: none;
  border-radius: 25px;
}

.time-indicator {
  width: 92px;
  height: 92px;
  border-radius: 100px;
  background-color: #f5c953;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contract-title {
  position: absolute;
  top: 15%;
  padding-left: 10px;
  font-size: 18px;
}

.creator {
  position: absolute;
  top: 20%;
  font-size: 14px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.place {
  position: absolute;
  top: 35%;
  padding-left: 10px;
  font-size: 20px;
}

.time {
  position: absolute;
  top: 42.5%;
  padding-left: 10px;
  font-size: 20px;
}

.desc-title {
  position: absolute;
  top: 55%;
  font-size: 18px;
  padding-left: 10px;
}

.form {
  position: absolute;
  top: 60%;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.info-link {
  position: absolute;
  top: 55%;
  padding-left: 10px;
}

.more-button {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 40px;
  background-color: #6e44ff;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 40%;
  height: 80%;
  border-radius: 25px;
}

.show-modal {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.error-message {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
}

.fas {
  color: white;
}

.heading {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.close-button {
  width: 48px;
  height: 48px;
  background-color: red;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.modal-title {
  font-size: 24px;
}
/*# sourceMappingURL=contractStyle.css.map */