* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  background-image: url("../../assets/full_home_background.svg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.landing {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  margin-left: 5%;
  position: absolute;
  top: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top {
  color: white;
  font-size: 36px;
  margin: 0px;
}

.bottom {
  color: rgba(255, 255, 255, 0.7);
  margin: 0px;
  font-size: 20px;
}

.letsgo {
  margin-left: 5%;
  position: absolute;
  top: 65%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50vh;
}

.topic {
  color: rgba(255, 255, 255, 0.95);
  font-size: 28px;
  margin: 0;
}

.manual {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  width: 550px;
  word-wrap: break-word;
}

.button-group {
  margin-left: 5%;
  position: absolute;
  top: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.register-button {
  width: 350px;
  height: 65px;
  border: none;
  border-radius: 10px;
  color: rgba(9, 9, 9, 0.9);
  font-size: 28px;
  padding: 0;
  font-family: Nunito;
  font-weight: 800;
  background-color: #F5C953;
  text-align: center;
  outline: none;
}

.login-button {
  width: 350px;
  height: 65px;
  border: none;
  border-radius: 10px;
  font-size: 28px;
  padding: 0;
  color: white;
  font-family: Nunito;
  font-weight: bold;
  border: 5px solid #F5C953;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  outline: none;
}

.register-button:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #6e44ff;
  background-color: #F5C953;
}

.register-button a {
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.login-button a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.text {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 24px;
}

.features {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

.section-header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-topic {
  color: white;
  font-size: 36px;
  margin: 0;
}

.topic-line {
  background-color: #F5C953;
  width: 80%;
  height: 4px;
  border-radius: 10px;
}

.card-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.card {
  width: 350px;
  background-color: white;
  height: 400px;
  border-radius: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-holder {
  min-width: 96px;
  min-height: 96px;
  background-color: #F5C953;
  border-radius: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.feature-icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-title {
  font-weight: 800;
  font-size: 32px;
  margin: 0;
}

.card-text {
  font-size: 20px;
  font-weight: bold;
  width: 250px;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.5);
}

.about {
  position: relative;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.info-card {
  width: 35%;
  height: 300px;
  background-color: white;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-card-group {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-card-title {
  font-size: 26;
  margin: 0;
  padding: 0;
  color: #6e44ff;
}

.info-card-text {
  font-size: 20px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  word-wrap: break-word;
  text-align: center;
  margin: 15px;
  padding: 15px;
}

.info-card1 {
  position: absolute;
  left: 80%;
  top: 20%;
  -webkit-transform: translate(-80%, -20%);
          transform: translate(-80%, -20%);
}

.info-card2 {
  position: absolute;
  left: 20%;
  top: 50%;
  -webkit-transform: translate(-20%, -45%);
          transform: translate(-20%, -45%);
}

.info-card3 {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  width: 30%;
}

.how {
  position: relative;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.top-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 10%;
  left: 10%;
}

.down-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 10%;
  left: 5%;
}

.fas {
  color: white;
}

.small-arrow {
  margin: 0px 5px;
  width: 145px;
  height: 35px;
  background-image: url("../../assets/small_arrow.svg");
  background-repeat: no-repeat;
}

.arrow {
  width: 475px;
  height: 70px;
  background-image: url("../../assets/arrow.svg");
  background-repeat: no-repeat;
}

.icon-with-text {
  text-align: center;
  color: white;
}

.icon-with-text p {
  margin: 10px;
  font-size: 24px;
}

.icon-with-text-sm {
  text-align: center;
  width: 250px;
  color: white;
}

.icon-with-text-sm p {
  margin: 5px;
  font-size: 18px;
}

@media screen and (min-width: 1280px) {
  .features {
    height: 100vh;
  }
  .card {
    height: 350px;
    width: 300px;
  }
  .about-container {
    width: 100%;
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    background-size: cover;
    height: 0;
    padding: 0;
    padding-bottom: 85%;
  }
  .info-card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .info-card-text {
    padding: 15pxs;
  }
  .info-card1 {
    width: 40%;
  }
  .info-card2 {
    left: 15%;
    top: 55%;
  }
  .info-card3 {
    top: 90%;
    width: 35%;
  }
  .section-header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 10px;
  }
  .about {
    background-image: none;
  }
  .how {
    width: 100%;
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    background-size: cover;
    height: 0;
    padding: 0;
    padding-bottom: 80%;
  }
  .about {
    position: relative;
    height: 170vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .info-card {
    width: 35%;
    height: 250px;
    background-color: white;
    border-radius: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-card-group {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-card1 {
    position: absolute;
    left: 80%;
    top: 20%;
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
  .info-card2 {
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translate(-20%, -45%);
            transform: translate(-20%, -45%);
  }
  .info-card3 {
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
    width: 30%;
  }
  .info-card-title {
    font-size: 26;
    margin: 0;
    color: #6e44ff;
  }
  .info-card-text {
    font-size: 20px;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    text-align: center;
    margin: 15px;
  }
  .how {
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    top: 30%;
    left: 10%;
  }
  .down-icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    top: 60%;
    left: 5%;
  }
  .fas {
    color: white;
  }
  .small-arrow {
    margin: 0px 5px;
    width: 145px;
    height: 35px;
    background-image: url("../../assets/small_arrow.svg");
  }
  .arrow {
    width: 475px;
    height: 70px;
    background-image: url("../../assets/arrow.svg");
  }
  .icon-with-text {
    text-align: center;
    color: white;
  }
  .icon-with-text p {
    margin: 10px;
    font-size: 24px;
  }
  .icon-with-text-sm {
    text-align: center;
    width: 250px;
    color: white;
  }
  .icon-with-text-sm p {
    margin: 5px;
    font-size: 18px;
  }
  .feature-icon {
    color: white;
  }
}
/*# sourceMappingURL=index.css.map */