* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

nav {
  border-bottom: 2px solid steelblue;
  height: 6vh;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.side {
  width: 20%;
  list-style: none;
  position: relative;
}

.title {
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 5px;
}

.main {
  width: 60%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.linkDiv {
  position: relative;
  width: 33%;
  font-size: 18px;
}

.linkDiv i {
  vertical-align: middle;
}

.linkDiv.active {
  background-color: #e6e6e6;
  color: #1e1e1e;
}

.linkDiv:hover:not(.active) {
  background-color: #e6e6e6;
  color: #1e1e1e;
  cursor: pointer;
}

.links {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logout-btn {
  background-color: #c80a0a;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  color: white;
  outline: none;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logout-btn:hover {
  cursor: pointer;
}
/*# sourceMappingURL=interfaceNavStyle.css.map */