* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

@media screen and (max-height: 753px) and (max-width: 1200px) {
  .first-section {
    height: 175vh;
  }
  .landing {
    height: 50%;
  }
  .top {
    font-size: 30px;
  }
  .bottom {
    font-size: 20px;
  }
  .topic {
    font-size: 22px;
  }
  .manual {
    font-size: 18px;
    width: 60%;
  }
  .register-button, .login-button {
    width: 325px;
    height: 60px;
    font-size: 24px;
  }
  .text {
    font-size: 24px;
  }
  .title {
    top: 25%;
  }
  .letsgo {
    top: 75%;
  }
  .button-group {
    top: 80%;
  }
  .features {
    height: 50%;
  }
  .section-topic {
    font-size: 30px;
  }
  .card {
    width: 275px;
    height: 300px;
  }
  .card-title {
    font-size: 28px;
  }
  .card-text {
    font-size: 18px;
  }
  .how {
    height: 120vh;
  }
  .tutorial-container {
    min-height: 40%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: #e9e9e9;
    font-weight: 700;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .first-section {
    height: 220vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../assets/first-section.svg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
  }
  .first-section nav {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 1;
  }
  .landing {
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title {
    margin-left: 5%;
    position: absolute;
    top: 20%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .top {
    color: white;
    font-size: 36px;
    margin: 0px;
  }
  .bottom {
    color: rgba(255, 255, 255, 0.7);
    margin: 0px;
    font-size: 20px;
  }
  .letsgo {
    margin-left: 5%;
    position: absolute;
    top: 65%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 50vh;
  }
  .topic {
    color: rgba(255, 255, 255, 0.95);
    font-size: 28px;
    margin: 0;
  }
  .manual {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    width: 550px;
    word-wrap: break-word;
  }
  .button-group {
    margin-left: 5%;
    position: absolute;
    top: 70%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .register-button {
    width: 350px;
    height: 65px;
    border: none;
    border-radius: 10px;
    color: rgba(9, 9, 9, 0.9);
    font-size: 28px;
    padding: 0;
    font-weight: 800;
    background-color: #f5c953;
    text-align: center;
    outline: none;
  }
  .login-button {
    width: 350px;
    height: 65px;
    border: none;
    border-radius: 10px;
    font-size: 28px;
    padding: 0;
    color: white;
    font-weight: bold;
    border: 5px solid #f5c953;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    outline: none;
  }
  .register-button:hover {
    -webkit-transform: scale(1.02, 1.02);
            transform: scale(1.02, 1.02);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .login-button:hover {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color: #6e44ff;
    background-color: #f5c953;
  }
  .register-button a {
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .login-button a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .text {
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
  }
  .features {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .section-header {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-topic {
    color: white;
    font-size: 36px;
  }
  .topic-line {
    background-color: #f5c953;
    width: 80%;
    min-height: 4px;
    border-radius: 10px;
  }
  .card-group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .card {
    width: 350px;
    background-color: white;
    height: 425px;
    border-radius: 25px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 120px;
    position: relative;
  }
  .icon-holder {
    min-width: 96px;
    min-height: 96px;
    background-color: #f5c953;
    border-radius: 100px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .feature-icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .card-title {
    font-weight: 800;
    font-size: 34px;
    position: absolute;
    top: 20%;
  }
  .card-text {
    font-size: 20px;
    font-weight: 700;
    width: 250px;
    word-wrap: break-word;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 35%;
  }
  .about {
    position: relative;
    height: 120vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
  }
  .how {
    position: relative;
    height: 150vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .content-container {
    width: 90%;
    height: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .howto-topic {
    color: #fff;
    position: absolute;
    top: 20%;
  }
  .tutorial-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 80%;
    height: 45%;
    position: absolute;
    top: 60%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .creation-gif {
    width: 40%;
    height: 100%;
    background-image: url("../assets/test.gif");
    border: 4px solid #f5c953;
    border-radius: 5px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .tutorial {
    color: rgba(255, 255, 255, 0.7);
    list-style: none;
  }
  .tutorial li {
    margin: 15px;
    font-size: 18px;
  }
  .list-number {
    color: #f5c953;
  }
  .creation-background {
    height: 45%;
    width: 100%;
    background-image: url("../assets/howto_creation.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .accept-background {
    background-image: url("../assets/howto_accept.svg");
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
}
/*# sourceMappingURL=startpage.css.map */