* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito';
}

body {
  background-image: url("../../assets/login_background.svg");
  background-repeat: no-repeat;
  position: relative;
  background-color: #e9e9e9;
}

.container {
  height: 60vh;
  width: 30%;
  background-color: white;
  border-radius: 25px;
  margin: 5% auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.input-container {
  height: 15%;
  width: 70%;
}

.label-box {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 70%;
  text-align: left;
}

.input-box {
  width: 100%;
  height: 60%;
  margin: 0;
  border: 4px solid #6e44ff;
  border-radius: 10px;
  padding: 5px;
  outline: none;
  font-size: 16px;
  -webkit-transition: border .5s ease;
  transition: border .5s ease;
}

.loader.active {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  border: 4px solid #a590f0;
  border-top: 4px solid #6e44ff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.input-label {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.submit-button {
  background-color: #F5C953;
  border: none;
  width: 45%;
  height: 10%;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  outline: none;
}

.submit-button:hover {
  cursor: pointer;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */