<style>
.footer {
  width: 100%;
  height: 35vh;
  color: white;
  /*margin-top: 20px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content {
  background-color: #6e44ff;
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.col {
  float: left;
  width: 30%;
}

.foot-heading {
  margin: 20px;
  font-size: 20px;
  font-weight: 400;
}

.right {
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: #6e44ff;
  position: relative;
}

.copyright {
  font-size: 18px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.line {
  width: 50%;
  height: 4px;
  border-radius: 10px;
  background-color: #F5C953;
}

.footer-topic {
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 22px;
}

.company {
  width: 60%;
  font-size: 19px;
  margin-top: 10px;
}

.foot-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.para {
  font-size: 18px;
}

.far, .fas {
  margin-right: 5px;
  color: #F5C953;
}

.contact-info {
  margin-top: 10px;
}

/* RESPONSIVE DESIGN */
/* IPAD */
@media screen and (min-height: 1024px) {
  .copyright {
    line-height: 70px;
  }
}

/* IPAD PRO */
@media screen and (min-height: 1300px) {
  .copyright {
    line-height: 90px;
    font-size: 22px;
  }
  .para {
    font-size: 24px;
  }
  .foot-links a {
    font-size: 24px;
  }
  .company {
    font-size: 24px;
  }
  .foot-heading {
    font-size: 28px;
  }
}

/* IPHONE X */
@media screen and (max-width: 414px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .col {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .copyright {
    vertical-align: middle;
  }
}
</style>

<!-- 
  Content:
  Impressum 
  AGBs
  Datenschutz
  SSL-Verschlüsselung Indikator
  FAQ
  Social Media Icons und Links
-->

<div class="footer">
    <div class="content">
        <div class="col">
            <div class="foot-heading">
                <p class="footer-topic">Organize</p>
                <div class="line"></div>
                <div class="company">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, iure.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="foot-heading">
                    <p class="footer-topic">Wichtige Links</p>
                    <div class="line"></div>
                    <div class="foot-links">
                        <a href="#">Dein Account</a> 
                        <a href="#">So funktioniert`s</a>
                        <a href="#">Hilfe?</a>               
                    </div>
            </div>
        </div>
        <div class="col">
            <div class="foot-heading">
                <p class="footer-topic">Kontakt</p>
                <div class="line"></div>
                <div class="contact-info">
                    <p class="para"><i class="far fa-envelope"></i>organize@gmail.com</p>
                </div>
                <div class="contact-info">
                    <p class="para"><i class="fas fa-phone"></i>012 660 783</p>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <p class="copyright">© 2020 Copyright: organize.com</p>
    </div>
</div>
