<style>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
  font-weight: 700;
}

nav {
  background-color: #6e44ff;
  height: 8vh;
  position: relative;
  color: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
}

li {
  list-style: none;
}

.side {
  width: 20%;
  text-align: center;
}

.title {
  font-size: 36px;
  letter-spacing: 2px;
} 

.main {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.linkDiv {
    height: 100%;
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkDiv i {
  vertical-align: middle;
}


.linkDiv.active, .linkDiv:hover, .linkDiv.active:hover {
  background-color: #f5c953;
  cursor: pointer;
  color: black;
}

.linkDiv:hover {
 /*border-right: 2px solid white;
  border-left: 2px solid white; */
}


.links {
  color: white;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
}

.logout-btn {
  width: 35%;
  height: 40px;
  background-color: #E42B4E;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.logout-btn:hover {
  cursor: pointer;
}

</style>

<script>
    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).parent().closest('div').addClass('active');
            }
        }); 
    });
</script>

<nav>
    <ul class="nav-links">
        <li class="side"><p class="title">Organize</p></li>
        <li class="main">
            
            <div class="linkDiv" >
                <a class="links"  href="/interface/availableContracts.html">Verfügbare Vertretungen</a>
            </div>
            
            <div class="linkDiv" >
                <a class="links" href="/interface/createContract.html">Vertretung erstellen</a>
            </div>

            <div class="linkDiv">
              <a class="links" href="/interface/yourContracts.html">Ihre Vertretungen</a>
            </div>

            <div class="linkDiv">
                    <a class="links" href="/interface/account.html">
                    <i class="fas fa-user-circle fa-2x"></i>
                    Dein Konto
                    </a>
            </div>
            
        </li>
    </ul>
</nav>
<script src="../js/Navigation.js"></script>