<style>
  header {
    width: 100%;
    height: 8vh;
}

.navigation {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: 700;
}

.logo {
  width: 60%;
  margin-left: 5%;
}

.logo a {
  font-size: 36px;
  color: white;
  text-decoration: none;
}

.nav-links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 45%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0px 0px;
}

.head-links p {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 18px;
  font-weight: 700;
}

.dropdown {
  height: 100%;
  position: relative;
}

.dropbtn {
  border-radius: 5px;
  height: 50px;
  width: 200px;
  border: none;
  background-color: #F5C953;
  font-size: 18px;
  font-family: Nunito;
  font-weight: 800;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #e9e9e9;
  width: 95%;
  /*height: fit-content;*/
  border: 3px solid #F5C953;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #6e44ff;
}

.dropdown-content a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #6e44ff;
  text-decoration: none;
  text-align: center;
  padding: 12px 16px;
  font-size: 18px;
}

.register-link {
  border-bottom: 3px solid #F5C953;
  color: #6e44ff;
}

.register-link:hover, .login-link:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #F5C953;
}

.dropdown:hover .dropdown-content, .dropdown:enabled, .dropdown:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}



@media screen and (max-width: 1200px) {
    .navigation {
      max-width: 95%;
      justify-content: space-between;
    }

  .nav-links{
    display: none;
  }

  .burger-bg, .burger {
    display: flex;
  }


.burger-bg {
  height: 60px;
  width: 60px;
  background-color: #F5C953;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.burger {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 50%;
  width: 50%;
}

.line1, .line3, .line2 {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: white;
  margin-top: 5px;
}

.line2 {
  width: 65%;
}

.toggle .line1 {
  transform: translate(-0px, 10px) rotate(135deg);
  transition: all .5s ease;
}
.toggle .line2 {
  opacity: 0;
  transition: all .3s ease;
}
.toggle .line3 {
  transform: translate(-0px, -10px) rotate(-135deg);
  transition: all .5s ease;
}

}
</style>

<header>
        <nav class="navigation">
            <div class="logo">
                <a href="/">Organize</a>
            </div>
            <div class="burger-bg">
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <ul class="nav-links">
                <li><a class="head-links" href="#link1"><p>Service</p></a></li>
                <li><a class="head-links" href="#link2">Über uns</a></li>
                <li><a class="head-links" href="#link3">Wie es funktioniert?</a></li>
                <li class=""><div class="dropdown">
                    <button class="dropbtn">Login/Registrieren</button>
                    <div class="dropdown-content">
                        <a class="register-link" style="color:#6e44ff;" href="registration.html">Registerieren</a>
                        <a class="login-link" style="color:#6e44ff;" href="login.html">Log in</a>
                    </div>
                </div></li>
            </ul>
            <script src="../js/BurgerAnimation.js"></script>
            <script>
                if(window.location.href.indexOf('index.html') > 0) {
                    $('a').click(function(){
                        $('html, body').animate({
                            scrollTop: $( $(this).attr('href') ).offset().top
                        },1000);
                        return false;
                    });
                } else {
                    $('a').click(function(){
                        window.location.href = "index.html";
                        $('html, body').animate({
                            scrollTop: $( $(this).attr('href') ).offset().top
                
                        },1000);
                        return false;
                    });
                }
            </script>
        </nav>
</header> 
