* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/interface_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=account.css.map */