@import 'main.scss';
@import 'typography.scss';

body {
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/interface_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 45%;
    height: 100%;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 100%;
    height: 80%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}

.title {
    font-size: $big-font-size;
    margin-top: 10px;
}

.score {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-score {
    padding-left: 5px;
    font-size: $regular-font-size;
}

.indicator {
    color: $primary-color;
    min-width: 64px;
    min-height: 64px;
    border: 4px solid $primary-color;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    p {
        font-size: $large-font-size;
    }
}

.created-score {
    margin-top: 15px;
}

#creation-date {
    color: rgba($color: #000000, $alpha: 0.5);
    font-size: $small-font-size;
}

.column-action {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 85%;
    padding-left: 20px;
    margin: auto 0;
}

#password-change-button {
    margin-top: 25px;
}

.primary-button {
    height: 45px;
    width: fit-content;
    background-color: $secondary-color;
    border-radius: 10px;
    border: none;
    font-size: $regular-font-size;
    padding: 10px;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
    text-align: center;
}

#logout-button {
    height: 45px;
    width: fit-content;
    background-color: red;
    border-radius: 10px;
    border: none;
    font-size: $regular-font-size;
    padding: 10px;
    margin-top: 15px;
    color: white;
    outline: none;
    cursor: pointer;
}

.separator {
    height: 85%;
    width: 4px;
    background-color: $secondary-color;
    margin: auto 0;
    border-radius: 10px;
}

.column-data {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 85%;
    margin: auto 0;
    padding-left: 20px;
}

#user {
    margin-top: 10px;
}

.pairs {
    margin-top: 25px;
    p {
        font-size: $big-font-size;
        margin-top: 5px;
    }
}

.key-pair {
    color: rgba($color: #000000, $alpha: 0.5)
}