@import 'main.scss';
@import 'typography.scss';

body {
    background-color: #e9e9e9;
    height: 92vh;
    width: 100%;
    background-image: url("../assets/interface_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 45%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
  background-color: white;
  border-radius: 25px;
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.page {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
}

.register-title {
    padding: 20px;
    font-size: 24px;
}

.info-text {
    color: rgba($color: #000000, $alpha: 0.5);
    font-size: $regular-font-size;
    width: 70%;
    margin: 10px auto;
}

.input-container {
    height: fit-content;
    width: 50%;
    font-size: $big-font-size;
    margin: 10px;
}

.label-box {
    height: fit-content;
    width: 100%;
    text-align: left;
}

.input-box {
    width: 100%;
    height: 50px;
    border: 4px solid #f5c953;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    font-size: $small-font-size;
}

.input-area {
    width: 50%;
    height: 40px;
}

.area {
    height: 85px;
    resize: none;
}

.btn {
    width: 50%;
    background-color: #6e44ff;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 25px;
}

.loader.active {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    border: 4px solid rgba($color: #ffffff, $alpha: 0.5);
    border-top: 4px solid #f5c953;
    align-self: center;
    margin: 0 auto;
    animation: spin 1s linear infinite;
}

.dropdown-button {
  width: 100%;
  height: 50px;
  border: 4px solid #f5c953;
  border-radius: 10px;
  font-size: $small-font-size;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: left;
  outline: none;
  padding: 5px;
  position: relative;
  i {
    position: absolute;
    top: 35%;
    left: 90%;
    transform: translateY(-50%);
  }
}

.dropdown-values {
  position: absolute;
  background-color: #6e44ff;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  display: none;
  li {
    padding: 5px;
    list-style: none;
    a {
      color: white;
      text-decoration: none;
      font-size: $small-font-size;
    }
  }
  li:hover {
    background-color: #f5c953;
  }
}

.far {
  color: lightgreen;
  padding: 10px;
}

.fas {
  color: white;
}

.stroke {
  width: 50%;
  border: 4px solid #f5c953;
  font-size: 20px;
  cursor: pointer;
  margin: 25px;
}

.text {
  color: rgba($color: #000000, $alpha: 0.5);
  font-size: $regular-font-size;
  width: 70%;
}

.button-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  button {
    width: 40%;
  }
}

.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 45%;
  height: 40%;
  border-radius: 25px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}


.modal-title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  font-size: $large-font-size;
}

.modal-close-button {
  position: absolute;
  top: 2.5%;
  right: 5%;
  margin: 10px 20px;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    height: 4px;
    width: 85%;
    background-color: white;
    border-radius: 10px;
  }
}

.modal-feedback {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: $big-font-size;
  color: rgba($color: #000000, $alpha: 0.5);
}

.input-group {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  input {
    width: 40%;
    height: 45px;
    border: 4px solid #f5c953;
    border-radius: 10px;
    font-size: $semi-large-font-size;
    padding: 10px;
    outline: none;
  }
  input[type="date"] {
    width: 50%;
  }
}

.time-submit {
  position: absolute;
  top: 80%;
  left: 50%; 
  transform: translateX(-50%);
  width: 35%;
  height: 50px;
  background-color: #6e44ff;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  
  border-radius: 10px;
  outline: none;
}

.modal-close-button:hover {
  background-color: #b4170c;
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }