* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

nav {
    border-bottom: 2px solid steelblue;
    height: 6vh;
}

.nav-links {
    display: flex;
    height: 100%;
}

.side {
    width: 20%;
    height: 100%;
    list-style: none;
    position: relative;
}

.title {
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
}

.main {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-around;
} 

.linkDiv {
    position: relative;
    width: 25%;
    font-size: 18px;
    i {
        vertical-align: middle;
    }
}

.linkDiv.active {
    background-color: rgb(230, 230, 230);
    color: rgb(30, 30, 30);
  }
  
.linkDiv:hover:not(.active) {
    background-color: rgb(230, 230, 230);
    color: rgb(30, 30, 30);
    cursor: pointer;
  }

.links {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logout-btn {
    background-color: rgb(200, 10, 10);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color: white;
    outline: none;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logout-btn:hover {
    cursor: pointer;
}