@import './animations.scss';
@import './main.scss';

body {
    height: 100vh;
    background-image: url("../../assets/login_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #e9e9e9;
}

.container {
    //Visual and Aligment
    height: 60vh;
    width: 30%;
    background-color: white;
    border-radius: 25px;
    margin: 5% auto;

    //General style
    text-align: center;

    //Inside style
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.input-container {
    height: 15%;
    width: 70%;
}

.label-box {
    height: fit-content;
    width: 70%;
    text-align: left;
}

.input-box {
    width: 100%;
    height: 60%;
    margin: 0;

    border: 4px solid #6e44ff;
    border-radius: 10px;

    padding: 5px;

    outline: none;

    font-size: 16px;

    //Animations and Transitions
    transition: border .5s ease;
}

.loader.active {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    border: 4px solid #a590f0;
    border-top: 4px solid #6e44ff;
    align-self: center;
    margin: 0 auto;
    animation: spin 1s linear infinite;
}

.input-label {
    padding: 0;
    margin: 0;
    //Font
    font-size: 18px;
    font-weight: 700;
}

.input-box:hover,
.input-box:focus,
.input-box:active {
  
}

.submit-button {
    background-color: #F5C953;
    border: none;
    width: 45%;
    height: 10%;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    outline: none;
}

.submit-button:hover {
    cursor: pointer;
}

.already {
    font-weight: $bold-weight;
    font-size: $regular-font-size;   
}

.already a {
    color: $primary-color;
}   

.info {
    font-size: $regular-font-size;
    font-weight: $bold-weight;
    width: 80%;

}

@media screen and (max-height: 750px) {
    .container {
        height: 70vh;
    }

    .input-box {
        //height: 80%;
    }
    
}

@media screen and (max-width: 1280px) {
    .container {    
        width: 40%;
    }
}