//Imports
@import './typography';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $default-font;
}

$primary-color: #6e44ff;
$secondary-color: #f5c953;

$text-color-bright: #fff;
$text-color-dark: #000;
$text-color-weak: rgba($color: #fff, $alpha: 0.7);

$background-color: #e9e9e9;