@import 'main.scss';
@import 'mixins.scss';



@media screen and (max-height: 753px) and (max-width: 1200px){
    //Start of landig section
    .first-section {
        height: 175vh;
    }

    .landing {
        height: 50%;
    }

    .top {
        font-size: $semi-huge-font-size + 2px;
    }

    .bottom {
        font-size: $big-font-size;
    }

    .topic {
        font-size: $semi-large-font-size;
    }

    .manual {
        font-size: $regular-font-size;
        width: 60%;
    }

    .register-button, .login-button {
        width: 325px;
        height: 60px;
        font-size: $large-font-size;
    }

    .text {
        font-size: $large-font-size;
    }

    .title {
        top: 25%;
    }

    .letsgo {
        top: 75%;
    }

    .button-group {
        top: 80%;
    }

    //End of landing section
    //Start of feature section


    .features {
        height: 50%;
    }

    .section-topic {
        font-size: $semi-huge-font-size + 2px;
    }

    .card {
        width: 275px;
        height: 300px;
    }

    .card-title {
        font-size: $semi-huge-font-size;
    }

    .card-text {
        font-size: $regular-font-size;
    }

    //End of feature section
    //Start of howto section

    .how {
        height: 120vh;
    }

    .tutorial-container {
        min-height: 40%;
        //width 
    }
    //End of howto section

}

//Default => Mobile Portrait

//Mobile landscape (and larger)
@media screen and (min-width: 480px) {

}

//Tablet portrait (and larger)
@media screen and (min-width: 768px) {

}

//Tablet landscape (and larger)
@media screen and (min-width: 992px) {

}

//Laptops (and larger) ==> CURRENT 
@media screen and (min-width: 1200px) {
    body {
        background-color: #e9e9e9;
        font-weight: $bold-weight;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .first-section {
        height: 220vh;
        position: relative;
        display: flex;
        flex-direction: column;
        background-image: url("../assets/first-section.svg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 100%;
        nav {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            z-index: 1; 
        }
    }
    
    .landing {
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
     .title {
        margin-left: 5%;
        position: absolute;
        top: 20%;
        transform: translateY(-50%);
     }
    
    .top {
        color: white;
        font-size: $huge-font-size;
        margin: 0px;
    }
    
    .bottom {
        color: rgba(255, 255, 255, 0.7);
        margin: 0px;
        font-size: $big-font-size;
    }
    
    .letsgo {
        margin-left: 5%;
        position: absolute;
        top: 65%;
        transform: translateY(-50%);
        height: 50vh;
    }
    
    .topic {
        color: rgba(255, 255, 255, 0.95);
        font-size: $semi-huge-font-size;
        margin: 0;
    }
    
    .manual {
        font-size: $semi-large-font-size;
        color: rgba(255, 255, 255, 0.7);
        margin: 0;
        width: 550px;
        word-wrap: break-word;
    }
    
    .button-group {
        margin-left: 5%;
        position: absolute;
        top: 70%;
        transform: translateY(-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-around;
        
    }
    
    .register-button {
        width: 350px;
        height: 65px;
        border: none;
        border-radius: 10px;
        color: rgba($color: #090909, $alpha: 0.9);
        font-size: $semi-huge-font-size;
        padding: 0;
        font-weight: 800;
        background-color: $secondary-color;
        text-align: center;
        outline: none;
    }
    
    .login-button {
        width: 350px;
        height: 65px;
        border: none;
        border-radius: 10px;
        font-size: $semi-huge-font-size;
        padding: 0;
        color: white;
        font-weight: bold;
        border: 5px solid $secondary-color;
        background-color: rgba($color: #000000, $alpha: 0);
        text-align: center;
        outline: none;
    }
    
    .register-button:hover {
        transform: scale(1.02, 1.02);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .login-button:hover {
        transition: all 0.2s ease-in;
        color: $primary-color;
        background-color: $secondary-color;
    }
    
    .register-button a {
        color: black;
        text-decoration: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    
    .login-button a {
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    
    .text {
        color: white;
        font-weight: $bold-weight;
        letter-spacing: 1px;
        font-size: $large-font-size;
    }
    
    .features {
        //background-color: red;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .section-header {
        width: fit-content;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section-topic {
        color: white;
        font-size: $huge-font-size;
    }
    
    .topic-line {
        background-color: $secondary-color;
        width: 80%;
        min-height: 4px;
        border-radius: 10px;
    }
    
    .card-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    
    .card {
        width: 350px;
        background-color: white;
        height: 425px;
        border-radius: 25px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin-bottom: 120px;
        position: relative;
    }
    
    .icon-holder {
        min-width: 96px;
        min-height: 96px;
        background-color: $secondary-color;
        border-radius: 100px;
        transform: translateY(-50%);
        display: flex;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        position: relative;
    }
    
    .feature-icon {
        color: white; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .card-title {
        font-weight: $strong-bold-weight;
        font-size: $huge-font-size - 2px;
        position: absolute;
        top: 20%
    }
    
    .card-text {
        font-size: $big-font-size;
        font-weight: $bold-weight;
        width: 250px;
        word-wrap: break-word;
        color: rgba(0,0,0,0.5);
        position: absolute;
        top: 35%;
    }
    
    .about {
        position: relative;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 100%;
    }
    
    .how {
        position: relative;
        height: 150vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .content-container {
        width: 90%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .howto-topic {
        color: $text-color-bright;
        //margin-bottom: 20px;
        position: absolute;
        top: 20%;
    }
    
    .tutorial-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        height: 45%;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
    }
    
    .creation-gif {
        width: 40%;
        height: 100%;
        background-image: url("../assets/test.gif");
        border: 4px solid $secondary-color;
        border-radius: 5px;
        flex-shrink: 0;
    }
    
    .tutorial {
        color: $text-color-weak;
        list-style: none;
        li {
            margin: 15px;
            font-size: $regular-font-size;
        }
    }
    
    .list-number {
        color: $secondary-color;
    }
    
    .creation-background {
        height: 45%;
        width: 100%;
        background-image: url("../assets/howto_creation.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .accept-background {
        background-image: url("../assets/howto_accept.svg");
        height: 50%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        display: flex;  
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}