$default-font: 'Nunito';

$strong-bold-weight: 800;
$bold-weight: 700;
$regular-weight: 400;
$thin-weight: 100;

$huge-font-size: 36px;
$semi-huge-font-size: 28px;
$large-font-size: 24px;
$semi-large-font-size: 22px;
$big-font-size: 20px;
$regular-font-size: 18px;
$small-font-size: 16px;

