@import 'main.scss';
@import 'typography.scss';

body {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/interface_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}